src/main/app/experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:context="http://www.springframework.org/schema/context" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-current.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="api-main">
        <http:listener config-ref="httpListenerConfig" path="/api/*" doc:name="HTTP" />
        <apikit:router config-ref="experience-api-config" doc:name="APIkit Router" />
        <exception-strategy ref="apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy" />
    </flow>
    <flow name="api-console">
        <http:listener config-ref="httpListenerConfig" path="/console/*" doc:name="HTTP" />
        <apikit:console config-ref="experience-api-config" doc:name="APIkit Console" />
    </flow>
    <flow name="post:/customers:application/json:experience-api-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="{&#xA;identifier: deb89058-77fb-4e97-8c83-6506c38cacf8,&#xA;firstName: Jason,&#xA;lastName: Bourne,&#xA;paymentMethods: Array[{&#xA;identifier: deb89058-77fb-4e97-8c83-6506c38c4444,&#xA;paymentMethodType: {&#xA;medium: CARD,&#xA;issuer: BANK,&#xA;name: VISA&#xA;}&#xA;}],&#xA;deliveryAddresses: Array[{&#xA;identifier: deb89058-77fb-4e97-8c83-6506c3855555,&#xA;address: Main street 122,&#xA;city: San Francisco,&#xA;state: California,&#xA;postalCode: 90210,&#xA;recipient: Jason Bourne,&#xA;country: US,&#xA;secondaryAddress: ,&#xA;mailStopCode: ,&#xA;attention: &#xA;}]&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/customers:experience-api-config">
        <set-payload value="Null " doc:name="Set Payload"/>
    </flow>
    <flow name="get:/customers/{customerId}:experience-api-config">
        <flow-ref name="getCustomerFromSFDC" doc:name="getCustomerFromSFDC"/>
    </flow>
     <flow name="put:/customers/{customerId}:application/json:experience-api-config">
        <flow-ref name="putCustomerSFDC" doc:name="putCustomerSFDC"/>
    </flow>
    <flow name="delete:/customers/{customerId}:experience-api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/customers/{customerId}/deliveryAddresses:experience-api-config">
        <set-payload value="{&#xA;_links: {&#xA;self: {&#xA;href: https://mocksvc.mulesoft.com/mocks/226604b1-d88b-4e3b-8a5c-4c299e70db6c/customers/deb89058-77fb-4e97-8c83-6506c38cacf8/deliveryAddresses&#xA;}&#xA;},&#xA;_meta: {&#xA;messages: Array[],&#xA;totalItems: 1,&#xA;offset: 0,&#xA;limit: 10&#xA;},&#xA;deliveryAddresses: Array[{&#xA;identifier: deb89058-77fb-4e97-8c83-6506c3855555,&#xA;address: Main street 122,&#xA;city: San Francisco,&#xA;state: California,&#xA;postalCode: 90210,&#xA;recipient: Jason Bourne,&#xA;country: US,&#xA;secondaryAddress: ,&#xA;mailStopCode: ,&#xA;attention: &#xA;}]&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/customers/{customerId}/deliveryAddresses:application/json:experience-api-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/customers/{customerId}/deliveryAddresses/{deliveryAddressId}:experience-api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/customers/{customerId}/deliveryAddresses/{deliveryAddressId}:experience-api-config">
        <set-payload value="{&#xA;_links: {&#xA;self: {&#xA;href: https://mocksvc.mulesoft.com/mocks/226604b1-d88b-4e3b-8a5c-4c299e70db6c/custoemrs/deb89058-77fb-4e97-8c83-6506c38cacf8/deliveryAddresses/a295a217-d0b7-4e55-ace8-2ef09dba96ba&#xA;}&#xA;},&#xA;_meta: {&#xA;messages: Array[]&#xA;},&#xA;address: Main street 122,&#xA;city: San Francisco,&#xA;state: California,&#xA;postalCode: 90210,&#xA;recipient: Jason Bourne,&#xA;country: US,&#xA;secondaryAddress: ,&#xA;mailStopCode: ,&#xA;attention: &#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/customers/{customerId}/deliveryAddresses/{deliveryAddressId}:application/json:experience-api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/customers/{customerId}/paymentMethods:application/json:experience-api-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
     <flow name="get:/customers/{customerId}/paymentMethods:experience-api-config">
        <set-payload value="{&#xA;  &quot;_links&quot;: {&#xA;    &quot;self&quot;: {&#xA;      &quot;href&quot;: &quot;https://mocksvc.mulesoft.com/mocks/226604b1-d88b-4e3b-8a5c-4c299e70db6c/customers/deb89058-77fb-4e97-8c83-6506c38cacf8/paymentMethods&quot;&#xA;    }&#xA;  },&#xA;  &quot;_meta&quot;: {&#xA;    &quot;messages&quot;: [],&#xA;    &quot;totalItems&quot;: 1,&#xA;    &quot;offset&quot;: 0,&#xA;    &quot;limit&quot;: 10                &#xA;  },&#xA;  &quot;paymentMethods&quot;: [&#xA;    {&#xA;      &quot;identifier&quot;:&quot;deb89058-77fb-4e97-8c83-6506c38c4444&quot;,&#xA;      &quot;paymentMethodType&quot;:{  &#xA;        &quot;medium&quot;:&quot;CARD&quot;,&#xA;        &quot;issuer&quot;:&quot;BANK&quot;,&#xA;        &quot;name&quot;:&quot;VISA&quot;&#xA;      }&#xA;    }&#xA;  ]&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/customers/{customerId}/paymentMethods/{paymentMethodId}:experience-api-config">
        <set-payload value="{&#xA;  &quot;identifier&quot;:&quot;deb89058-77fb-4e97-8c83-6506c38c4444&quot;,&#xA;  &quot;paymentMethodType&quot;: {&#xA;    &quot;medium&quot;: &quot;CARD&quot;,&#xA;    &quot;issuer&quot;: &quot;BANK&quot;,&#xA;    &quot;name&quot;: &quot;VISA&quot;&#xA;  }&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/customers/{customerId}/paymentMethods/{paymentMethodId}:application/json:experience-api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="delete:/customers/{customerId}/paymentMethods/{paymentMethodId}:experience-api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="post:/customers/{customerId}/contactMethods:application/json:experience-api-config">
        <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="put:/customers/{customerId}/contactMethods/{contactMethodId}:application/json:experience-api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow> 
    <flow name="delete:/customers/{customerId}/contactMethods/{contactMethodId}:experience-api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/customers/{customerId}/contactMethods/{contactMethodId}:experience-api-config">
        <set-payload value="{&#xA;  &quot;contactMethodType&quot;: &quot;EMAIL&quot;,&#xA;  &quot;emailAddress&quot;: &quot;jason.bourne@example.com&quot;&#xA;}" doc:name="Set Payload"/>
    </flow> 
    <flow name="get:/customers/{customerId}/orders:experience-api-config">
        <set-payload value="{&#xA;_links: {&#xA;self: {&#xA;href: https://mocksvc.mulesoft.com/mocks/226604b1-d88b-4e3b-8a5c-4c299e70db6c/customers/deb89058-77fb-4e97-8c83-6506c38cacf8/orders&#xA;}&#xA;},&#xA;_meta: {&#xA;messages: Array[],&#xA;totalItems: 3,&#xA;offset: 0,&#xA;limit: 10&#xA;},&#xA;paymentMethods: Array[],&#xA;orders: Array[{&#xA;href: https://mocksvc.mulesoft.com/mocks/226604b1-d88b-4e3b-8a5c-4c299e70db6c/orders/3bafde00-2eab-11e7-93ae-92361f002671&#xA;},{&#xA;href: https://mocksvc.mulesoft.com/mocks/226604b1-d88b-4e3b-8a5c-4c299e70db6c/orders/d6cfcfd8-a782-4a69-a683-c83a44d1447f&#xA;},{&#xA;href: https://mocksvc.mulesoft.com/mocks/226604b1-d88b-4e3b-8a5c-4c299e70db6c/orders/d78541c7-3897-4498-a8b7-52d29601b118&#xA;}]&#xA;}" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/customers/{customerId}/shoppingCarts:experience-api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>  
    <apikit:mapping-exception-strategy name="apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property" />
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload" />
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
