src/main/app/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">

    
    
    <flow name="getCustomerFromSFDC">
        <http:request config-ref="retail-customer-system-api" path="/customers/{customerId}" method="GET" doc:name="GET/customers/{customerId}">
            <http:request-builder>
                <http:uri-param paramName="customerId" value="#[flowVars.customerId]"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Response Message">
        <dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	identifier: payload.customerId,
	firstName: payload.firstName,
	lastName: payload.lastName,
	paymentMethods: [
		{
			paymentMethodType: 	{
				issuer: "BANK",
				medium: "CARD",
				name: "VISA"
			}
		}
	],
	deliveryAddresses: [
		{
			type: "BILLING",
			address: payload.postalAddress.street,
			city: payload.postalAddress.city,
			country: payload.postalAddress.country,
			postalCode: payload.postalAddress.postalCode,
			recipient: (payload.firstName ++ " " ++ payload.lastName),
			state: payload.postalAddress.state,
			attention: null,
			mailStopCode: null,
			secondaryAddress: null
		},
		{
			type: "SHIPPING",
			address: payload.deliveryAddress.street,
			city: payload.deliveryAddress.city,
			country: payload.deliveryAddress.country,
			postalCode: payload.deliveryAddress.postalCode,
			recipient: (payload.firstName ++ " " ++ payload.lastName),
			state: payload.deliveryAddress.state,
			attention: null,
			mailStopCode: null,
			secondaryAddress: null
		}
	]
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="putCustomerSFDC">
        <logger message="#[payload]" level="INFO" doc:name="input"/>
        <dw:transform-message doc:name="Input transform for PUT operation">
        <dw:input-payload mimeType="application/json" />
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	
	customerId: payload.identifier,
	(firstName: payload.firstName) when payload.firstName?,
	lastName: payload.lastName, 
	(payload.deliveryAddresses filter ($.type == 'BILLING') map {
		postalAddress:{
			(street: $.address) when $.address?, 
			(city: $.city)  when $.city?,
			(postalCode: $.postalCode) when $.postalCode?, 
			(state: $.state) when $.state?,
			(country: $.country) when $.country?		
		}
				
	}),
	(payload.deliveryAddresses filter ($.type == 'SHIPPING') map {
		deliveryAddress:{	
			(street: $.address) when $.address?, 
			(city: $.city)  when $.city?,
			(postalCode: $.postalCode) when $.postalCode?, 
			(state: $.state) when $.state?,
			(country: $.country) when $.country?
		}	
	}) 
}]]></dw:set-payload>
        </dw:transform-message>


        <http:request config-ref="retail-customer-system-api" path="/customers/{customerId}" method="PUT" doc:name="PUT/customers/{customerId}">
            <http:request-builder>
                <http:uri-param paramName="customerId" value="#[flowVars.customerId]"/>
            </http:request-builder>
        </http:request>
        <logger message="Customer was updated" level="INFO" doc:name="Success operation "/>


    </flow>
    <flow name="getProductsByCategory">
        <choice doc:name="Choice">
            <when expression="#[flowVars.categoryId == '12345']">
                <set-payload value="{     &quot;_links&quot;:{         &quot;self&quot;:{             &quot;href&quot;:&quot;/categories/12345/products?offset=0&amp;limit=5&quot;         }     },     &quot;page&quot;:{         &quot;messages&quot;:[          ],         &quot;totalItems&quot;:4,         &quot;limit&quot;:0,         &quot;offset&quot;:10     },     &quot;products&quot;:[         {             &quot;identifier&quot;:&quot;eb8c8ca7-3c42-4489-a820-3aa138430b75&quot;,             &quot;brand&quot;:&quot;Anypoint&quot;,             &quot;model&quot;:&quot;Smart Slim Micro Stripe Shirt&quot;,             &quot;rating&quot;:5,             &quot;description&quot;:&quot;Stripe woven fabric. Added stretch for comfort. Spread collar. Button placket. Slim fit - cut close to the body. Machine wash. 98% Cotton, 2% Elastane. Our model wears a size Medium Long and is 193cm/6'4\&quot; tall&quot;,             &quot;pictures&quot;:[                 &quot;https://cdni.llbean.net/is/image/wim/251423_0_52??wid=428&amp;hei=494&quot;,                 &quot;https://cdni.llbean.net/is/image/wim/251423_47_41?wid=428&amp;hei=494&quot;             ],             &quot;price&quot;:{                 &quot;amount&quot;:{                     &quot;currency&quot;:&quot;USD&quot;,                     &quot;currencyValue&quot;:34.95,                     &quot;name&quot;:&quot;Amount&quot;                 },                 &quot;salesUnit&quot;:{                     &quot;code&quot;:&quot;EA&quot;,                     &quot;name&quot;:&quot;Each&quot;                 }             }         },         {             &quot;identifier&quot;:&quot;cd67cd8a-8901-48c5-890b-0a21f4a0f8ad&quot;,             &quot;brand&quot;:&quot;Anypoint&quot;,             &quot;model&quot;:&quot;Men's Chino Jogger Pants&quot;,             &quot;rating&quot;:5,             &quot;description&quot;:&quot;100% Cotton. No stretch. Lightweight fabric. Regular fit jogger pants, slightly tapered legs with elasticized cuffs. Sits at the waist. Elastic closure. Comfortable elastic waist with drawstring. No zip. 2 front slant pockets, 1 back patch pocket. Pre-washed, will not shrink. Very comfortable and stylish for year round wear. Cold hand/machine wash.&quot;,             &quot;pictures&quot;:[                 &quot;https://images-na.ssl-images-amazon.com/images/I/61hUUA%2BaEQL._UX342_.jpg&quot;,                 &quot;https://images-na.ssl-images-amazon.com/images/I/61Ezqhc-8AL._UX342_.jpg&quot;,                 &quot;https://images-na.ssl-images-amazon.com/images/I/718HJuJXwSL._UX342_.jpg&quot;             ],             &quot;price&quot;:{                 &quot;amount&quot;:{                     &quot;currency&quot;:&quot;USD&quot;,                     &quot;currencyValue&quot;:47.95,                     &quot;name&quot;:&quot;Amount&quot;                 },                 &quot;salesUnit&quot;:{                     &quot;code&quot;:&quot;EA&quot;,                     &quot;name&quot;:&quot;Each&quot;                 }             }         },         {             &quot;identifier&quot;:&quot;7c9be8ad-0791-4362-b195-a53dcca4e1d7&quot;,             &quot;brand&quot;:&quot;Anypoint&quot;,             &quot;model&quot;:&quot;Men's Regular Fit V-Neck Knit Sweater&quot;,             &quot;rating&quot;:5,             &quot;description&quot;:&quot;80% Cotton/20% Nylon. No lining. Pullover style. V-neck. Knit cotton blend fabric. Long sleeves&quot;,             &quot;pictures&quot;:[                 &quot;https://images-na.ssl-images-amazon.com/images/I/41gnBw3oxQL.jpg&quot;             ],             &quot;price&quot;:{                 &quot;amount&quot;:{                     &quot;currency&quot;:&quot;USD&quot;,                     &quot;currencyValue&quot;:22.95,                     &quot;name&quot;:&quot;Amount&quot;                 },                 &quot;salesUnit&quot;:{                     &quot;code&quot;:&quot;EA&quot;,                     &quot;name&quot;:&quot;Each&quot;                 }             }         },         {             &quot;identifier&quot;:&quot;e1c515f9-102d-4830-b353-18fe48065732&quot;,             &quot;brand&quot;:&quot;Anypoint&quot;,             &quot;model&quot;:&quot;Uniforms Modern Fit Short Sleeve Polo Shirt&quot;,             &quot;rating&quot;:5,             &quot;description&quot;:&quot;Machine Wash, Tumble Dry. True to Size.&quot;,             &quot;pictures&quot;:[                 &quot;https://images-na.ssl-images-amazon.com/images/I/41p0XBBb6vL.jpg&quot;             ],             &quot;price&quot;:{                 &quot;amount&quot;:{                     &quot;currency&quot;:&quot;USD&quot;,                     &quot;currencyValue&quot;:12.95,                     &quot;name&quot;:&quot;Amount&quot;                 },                 &quot;salesUnit&quot;:{                     &quot;code&quot;:&quot;EA&quot;,                     &quot;name&quot;:&quot;Each&quot;                 }             }         }     ] }" mimeType="application/json" doc:name="Set Payload"/>
            </when>
            <otherwise>
                <set-property propertyName="http.status" value="#[404]" doc:name="Property"/>
                <set-payload value="Category not found " doc:name="Set Payload"/>
            </otherwise>
        </choice>

    </flow>
    <flow name="getShoppingCart">
        <choice doc:name="Choice">
            <when expression="#[flowVars.shoppingCartId == 'f520a6b8-4a21-4138-9d03-2612856b838b']">
                <set-payload value="{     &quot;customerId&quot;:&quot;11e7-93ae-92361f002671&quot;,     &quot;items&quot;:[         {             &quot;item&quot;:{                 &quot;productId&quot;:&quot;eb8c8ca7-3c42-4489-a820-3aa138430b75&quot;,                 &quot;identifier&quot;:&quot;88668866-2c6d-4fa6-9e17-4b2c42e0f051&quot;,                 &quot;identifiers&quot;:{                     &quot;SKU&quot;:&quot;UGG-BB-PUR-06&quot;                 },                 &quot;pictures&quot;:[                     &quot;https://cdni.llbean.net/is/image/wim/251423_0_52??wid=428&amp;hei=494&quot;,                     &quot;https://cdni.llbean.net/is/image/wim/251423_47_41?wid=428&amp;hei=494&quot;                 ],                 &quot;configuration&quot;:[                     {                         &quot;characteristic&quot;:{                             &quot;code&quot;:&quot;size&quot;,                             &quot;description&quot;:&quot;Size&quot;,                             &quot;name&quot;:&quot;Size of item&quot;                         },                         &quot;characteristicValue&quot;:{                             &quot;code&quot;:&quot;M&quot;,                             &quot;name&quot;:&quot;Medium&quot;                         }                     },                     {                         &quot;characteristic&quot;:{                             &quot;code&quot;:&quot;color&quot;,                             &quot;description&quot;:&quot;Color&quot;,                             &quot;name&quot;:&quot;Color&quot;                         },                         &quot;characteristicValue&quot;:{                             &quot;code&quot;:&quot;blue&quot;,                             &quot;name&quot;:&quot;Blue&quot;                         }                     }                 ]             },             &quot;quantity&quot;:{                 &quot;amount&quot;:1,                 &quot;quantityType&quot;:&quot;DISCRETE&quot;,                 &quot;unit&quot;:&quot;EA&quot;             }         },         {             &quot;item&quot;:{                 &quot;productId&quot;:&quot;cd67cd8a-8901-48c5-890b-0a21f4a0f8ad&quot;,                 &quot;identifier&quot;:&quot;355d4130-1e3a-4795-aada-c960c89f6d9f&quot;,                 &quot;identifiers&quot;:{                     &quot;SKU&quot;:&quot;UGG-BB-PUR-06&quot;                 },                 &quot;pictures&quot;:[                     &quot;https://images-na.ssl-images-amazon.com/images/I/61Ezqhc-8AL._UX342_.jpg&quot;                 ],                 &quot;configuration&quot;:[                     {                         &quot;characteristic&quot;:{                             &quot;code&quot;:&quot;size&quot;,                             &quot;description&quot;:&quot;Size&quot;,                             &quot;name&quot;:&quot;Size of item&quot;                         },                         &quot;characteristicValue&quot;:{                             &quot;code&quot;:&quot;L&quot;,                             &quot;name&quot;:&quot;Large&quot;                         }                     },                     {                         &quot;characteristic&quot;:{                             &quot;code&quot;:&quot;color&quot;,                             &quot;description&quot;:&quot;Color&quot;,                             &quot;name&quot;:&quot;Color&quot;                         },                         &quot;characteristicValue&quot;:{                             &quot;code&quot;:&quot;tan&quot;,                             &quot;name&quot;:&quot;Tan&quot;                         }                     }                 ]             },             &quot;quantity&quot;:{                 &quot;amount&quot;:1,                 &quot;quantityType&quot;:&quot;DISCRETE&quot;,                 &quot;unit&quot;:&quot;EA&quot;             }         }     ] }" mimeType="application/json" doc:name="Set Payload"/>
            </when>
            <otherwise>
                <set-property propertyName="http.status" value="#[404]" doc:name="Property"/>
                <set-payload value="Shopping Card not found" doc:name="Set Payload"/>
            </otherwise>
        </choice>
    </flow>
    <flow name="getProducts">
        <http:request config-ref="retail-product-system-api" path="/products" method="GET" doc:name="GET/products">
        </http:request>
        <dw:transform-message doc:name="Transform Message">
        	<dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload
]]></dw:set-payload>
        </dw:transform-message>
	</flow>
  
    <flow name="getProduct">
        <http:request config-ref="retail-product-system-api" path="/products/{productId}" method="GET" doc:name="GET/products/{productId}">
            <http:request-builder>
                <http:uri-param paramName="productId" value="#[flowVars.productId]"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Transform Message">
        	<dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload
]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="getVariantsByProduct">
        <http:request config-ref="retail-product-system-api" path="/products/{productId}/variants" method="GET" doc:name="GET/products/{productId}/variants">
            <http:request-builder>
                <http:uri-param paramName="productId" value="#[flowVars.productId]"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Transform Message">
        	<dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>

    </flow>
    <flow name="getVariantByProduct">
        <choice doc:name="Choice">
            <when expression="#[flowVars.productId == 'eb8c8ca7-3c42-4489-a820-3aa138430b75']">
                <choice doc:name="Choice">
                    <when expression="#[flowVars.productVariantId == '88668866-2c6d-4fa6-9e17-4b2c42e0f051']">
                        <set-payload value="{     &quot;productId&quot;:&quot;eb8c8ca7-3c42-4489-a820-3aa138430b75&quot;,     &quot;identifier&quot;:&quot;88668866-2c6d-4fa6-9e17-4b2c42e0f051&quot;,     &quot;identifiers&quot;:{         &quot;SKU&quot;:&quot;UGG-BB-PUR-06&quot;     },     &quot;pictures&quot;:[         &quot;https://cdni.llbean.net/is/image/wim/251423_0_52??wid=428&amp;hei=494&quot;,         &quot;https://cdni.llbean.net/is/image/wim/251423_47_41?wid=428&amp;hei=494&quot;     ],     &quot;configuration&quot;:[         {             &quot;characteristic&quot;:{                 &quot;code&quot;:&quot;size&quot;,                 &quot;description&quot;:&quot;Size&quot;,                 &quot;name&quot;:&quot;Size of item&quot;             },             &quot;characteristicValue&quot;:{                 &quot;code&quot;:&quot;M&quot;,                 &quot;name&quot;:&quot;Medium&quot;             }         },         {             &quot;characteristic&quot;:{                 &quot;code&quot;:&quot;color&quot;,                 &quot;description&quot;:&quot;Color&quot;,                 &quot;name&quot;:&quot;Color&quot;             },             &quot;characteristicValue&quot;:{                 &quot;code&quot;:&quot;blue&quot;,                 &quot;name&quot;:&quot;Blue&quot;             }         }     ] }" doc:name="Set Payload" mimeType="application/json"/>
                    </when>
                    <when expression="#[flowVars.productVariantId == '4fbabbaa-7537-47bd-906b-989b0fbf520c']">
                        <set-payload value="{     &quot;identifier&quot;:&quot;4fbabbaa-7537-47bd-906b-989b0fbf520c&quot;,     &quot;productId&quot;:&quot;eb8c8ca7-3c42-4489-a820-3aa138430b75&quot;,     &quot;identifiers&quot;:{         &quot;SKU&quot;:&quot;UGG-BB-PUR-06&quot;     },     &quot;pictures&quot;:[         &quot;https://cdni.llbean.net/is/image/wim/251423_0_52??wid=428&amp;hei=494&quot;,         &quot;https://cdni.llbean.net/is/image/wim/251423_47_41?wid=428&amp;hei=494&quot;     ],     &quot;configuration&quot;:[         {             &quot;characteristic&quot;:{                 &quot;code&quot;:&quot;size&quot;,                 &quot;description&quot;:&quot;Size&quot;,                 &quot;name&quot;:&quot;Size of item&quot;             },             &quot;characteristicValue&quot;:{                 &quot;code&quot;:&quot;L&quot;,                 &quot;name&quot;:&quot;Large&quot;             }         },         {             &quot;characteristic&quot;:{                 &quot;code&quot;:&quot;color&quot;,                 &quot;description&quot;:&quot;Color&quot;,                 &quot;name&quot;:&quot;Color&quot;             },             &quot;characteristicValue&quot;:{                 &quot;code&quot;:&quot;blue&quot;,                 &quot;name&quot;:&quot;Blue&quot;             }         }     ] }" mimeType="application/json" doc:name="Set Payload"/>
                    </when>
                    <otherwise>
                        <set-property propertyName="http.status" value="#[404]" doc:name="Property"/>
                        <set-payload value="Variant not found" doc:name="Set Payload"/>
                    </otherwise>

                </choice>
            </when>
            <when expression="#[flowVars.productId == 'cd67cd8a-8901-48c5-890b-0a21f4a0f8ad']">
                <choice doc:name="Choice">
                    <when expression="#[flowVars.productVariantId == '355d4130-1e3a-4795-aada-c960c89f6d9f']">
                        <set-payload value="{
    &quot;productId&quot;:&quot;cd67cd8a-8901-48c5-890b-0a21f4a0f8ad&quot;,
    &quot;identifier&quot;:&quot;beb3c34f-55b0-49c8-b7e2-5585727713ef&quot;,
    &quot;identifiers&quot;:{
        &quot;SKU&quot;:&quot;UGG-BB-PUR-06&quot;
    },
    &quot;pictures&quot;:[
        &quot;https://images-na.ssl-images-amazon.com/images/I/718HJuJXwSL._UX342_.jpg&quot;
    ],
    &quot;configuration&quot;:[
        {
            &quot;characteristic&quot;:{
                &quot;code&quot;:&quot;size&quot;,
                &quot;description&quot;:&quot;Size&quot;,
                &quot;name&quot;:&quot;Size of item&quot;
            },
            &quot;characteristicValue&quot;:{
                &quot;code&quot;:&quot;L&quot;,
                &quot;name&quot;:&quot;Large&quot;
            }
        },
        {
            &quot;characteristic&quot;:{
                &quot;code&quot;:&quot;color&quot;,
                &quot;description&quot;:&quot;Color&quot;,
                &quot;name&quot;:&quot;Color&quot;
            },
            &quot;characteristicValue&quot;:{
                &quot;code&quot;:&quot;khaki&quot;,
                &quot;name&quot;:&quot;Kaki&quot;
            }
        }
    ]
}" mimeType="application/json" doc:name="Set Payload"/>

                    </when>
                    <when expression="#[flowVars.productVariantId == '3c1eb223-811c-4e86-8ea3-4a06a002a79a']">
                        <set-payload value="{
    &quot;productId&quot;:&quot;cd67cd8a-8901-48c5-890b-0a21f4a0f8ad&quot;,
    &quot;identifier&quot;:&quot;355d4130-1e3a-4795-aada-c960c89f6d9f&quot;,
    &quot;identifiers&quot;:{
        &quot;SKU&quot;:&quot;UGG-BB-PUR-06&quot;
    },
    &quot;pictures&quot;:[
        &quot;https://images-na.ssl-images-amazon.com/images/I/61Ezqhc-8AL._UX342_.jpg&quot;
    ],
    &quot;configuration&quot;:[
        {
            &quot;characteristic&quot;:{
                &quot;code&quot;:&quot;size&quot;,
                &quot;description&quot;:&quot;Size&quot;,
                &quot;name&quot;:&quot;Size of item&quot;
            },
            &quot;characteristicValue&quot;:{
                &quot;code&quot;:&quot;L&quot;,
                &quot;name&quot;:&quot;Large&quot;
            }
        },
        {
            &quot;characteristic&quot;:{
                &quot;code&quot;:&quot;color&quot;,
                &quot;description&quot;:&quot;Color&quot;,
                &quot;name&quot;:&quot;Color&quot;
            },
            &quot;characteristicValue&quot;:{
                &quot;code&quot;:&quot;tan&quot;,
                &quot;name&quot;:&quot;Tan&quot;
            }
        }
    ]
}" mimeType="application/json" doc:name="Set Payload"/>

                    </when>
                    <when expression="#[flowVars.productVariantId == 'beb3c34f-55b0-49c8-b7e2-5585727713ef']">
                        <set-payload value="{
    &quot;identifier&quot;:&quot;3c1eb223-811c-4e86-8ea3-4a06a002a79a&quot;,
    &quot;productId&quot;:&quot;cd67cd8a-8901-48c5-890b-0a21f4a0f8ad&quot;,
    &quot;identifiers&quot;:{
        &quot;SKU&quot;:&quot;UGG-BB-PUR-06&quot;
    },
    &quot;pictures&quot;:[
        &quot;https://images-na.ssl-images-amazon.com/images/I/61hUUA%2BaEQL._UX342_.jpg&quot;
    ],
    &quot;configuration&quot;:[
        {
            &quot;characteristic&quot;:{
                &quot;code&quot;:&quot;size&quot;,
                &quot;description&quot;:&quot;Size&quot;,
                &quot;name&quot;:&quot;Size of item&quot;
            },
            &quot;characteristicValue&quot;:{
                &quot;code&quot;:&quot;M&quot;,
                &quot;name&quot;:&quot;Medium&quot;
            }
        },
        {
            &quot;characteristic&quot;:{
                &quot;code&quot;:&quot;color&quot;,
                &quot;description&quot;:&quot;Color&quot;,
                &quot;name&quot;:&quot;Color&quot;
            },
            &quot;characteristicValue&quot;:{
                &quot;code&quot;:&quot;army_gray&quot;,
                &quot;name&quot;:&quot;Army gray&quot;
            }
        }
    ]
}" mimeType="application/json" doc:name="Set Payload"/>
                    </when>
					<otherwise>
               			 <set-property propertyName="http.status" value="#[404]" doc:name="Property"/>
               			 <set-payload value="Variant not found" doc:name="Set Payload"/>
            		</otherwise>
                </choice>
            </when>
            <when expression="#[flowVars.productId == '7c9be8ad-0791-4362-b195-a53dcca4e1d7']">
                <choice doc:name="Choice">
                    <when expression="#[flowVars.productVariantId == 'dfc25820-c37d-456c-8867-4a89a51b7f75']">
                        <set-payload value="{
    &quot;productId&quot;:&quot;7c9be8ad-0791-4362-b195-a53dcca4e1d7&quot;,
    &quot;identifier&quot;:&quot;dfc25820-c37d-456c-8867-4a89a51b7f75&quot;,
    &quot;identifiers&quot;:{
        &quot;SKU&quot;:&quot;UGG-BB-PUR-06&quot;
    },
    &quot;pictures&quot;:[
        &quot;https://images-na.ssl-images-amazon.com/images/I/41gnBw3oxQL.jpg&quot;
    ],
    &quot;configuration&quot;:[
        {
            &quot;characteristic&quot;:{
                &quot;code&quot;:&quot;size&quot;,
                &quot;description&quot;:&quot;Size&quot;,
                &quot;name&quot;:&quot;Size of item&quot;
            },
            &quot;characteristicValue&quot;:{
                &quot;code&quot;:&quot;M&quot;,
                &quot;name&quot;:&quot;Medium&quot;
            }
        },
        {
            &quot;characteristic&quot;:{
                &quot;code&quot;:&quot;color&quot;,
                &quot;description&quot;:&quot;Color&quot;,
                &quot;name&quot;:&quot;Color&quot;
            },
            &quot;characteristicValue&quot;:{
                &quot;code&quot;:&quot;ocean_river&quot;,
                &quot;name&quot;:&quot;Ocean River&quot;
            }
        }
    ]
}" doc:name="Set Payload" mimeType="application/json"/>
                    </when>
                    <when expression="#[flowVars.productVariantId == '7500fd7a-4fe2-452a-88e8-0eb60788dd11']">
                        <set-payload value="{
    &quot;productId&quot;:&quot;7c9be8ad-0791-4362-b195-a53dcca4e1d7&quot;,
    &quot;identifier&quot;:&quot;7500fd7a-4fe2-452a-88e8-0eb60788dd11&quot;,
    &quot;identifiers&quot;:{
        &quot;SKU&quot;:&quot;UGG-BB-PUR-06&quot;
    },
    &quot;pictures&quot;:[
        &quot;https://images-na.ssl-images-amazon.com/images/I/41gnBw3oxQL.jpg&quot;
    ],
    &quot;configuration&quot;:[
        {
            &quot;characteristic&quot;:{
                &quot;code&quot;:&quot;size&quot;,
                &quot;description&quot;:&quot;Size&quot;,
                &quot;name&quot;:&quot;Size of item&quot;
            },
            &quot;characteristicValue&quot;:{
                &quot;code&quot;:&quot;L&quot;,
                &quot;name&quot;:&quot;Large&quot;
            }
        },
        {
            &quot;characteristic&quot;:{
                &quot;code&quot;:&quot;color&quot;,
                &quot;description&quot;:&quot;Color&quot;,
                &quot;name&quot;:&quot;Color&quot;
            },
            &quot;characteristicValue&quot;:{
                &quot;code&quot;:&quot;ocean_river&quot;,
                &quot;name&quot;:&quot;Ocean River&quot;
            }
        }
    ]
}" doc:name="Set Payload" mimeType="application/json"/>
                    </when>
                    <when expression="#[flowVars.productVariantId == '6a3c6342-af6c-402a-9f63-55e76a0de99a']">
                        <set-payload value="{  
    &quot;productId&quot;:&quot;7c9be8ad-0791-4362-b195-a53dcca4e1d7&quot;,
    &quot;identifier&quot;:&quot;6a3c6342-af6c-402a-9f63-55e76a0de99a&quot;,
    &quot;identifiers&quot;:{  
        &quot;SKU&quot;:&quot;UGG-BB-PUR-06&quot;
    },
    &quot;pictures&quot;:[  
        &quot;https://images-na.ssl-images-amazon.com/images/I/41SuDJi3xRL.jpg&quot;
    ],
    &quot;configuration&quot;:[  
        {  
            &quot;characteristic&quot;:{  
                &quot;code&quot;:&quot;size&quot;,
                &quot;description&quot;:&quot;Size&quot;,
                &quot;name&quot;:&quot;Size of item&quot;
            },
            &quot;characteristicValue&quot;:{  
                &quot;code&quot;:&quot;M&quot;,
                &quot;name&quot;:&quot;Medium&quot;
            }
        },
        {  
            &quot;characteristic&quot;:{  
                &quot;code&quot;:&quot;color&quot;,
                &quot;description&quot;:&quot;Color&quot;,
                &quot;name&quot;:&quot;Color&quot;
            },
            &quot;characteristicValue&quot;:{  
                &quot;code&quot;:&quot;hyper_blue&quot;,
                &quot;name&quot;:&quot;Hyper Blue&quot;
            }
        }
    ]
}" doc:name="Set Payload" mimeType="application/json"/>
                    </when>
                    <otherwise>
               			 <set-property propertyName="http.status" value="#[404]" doc:name="Property"/>
               			 <set-payload value="Variant not found" doc:name="Set Payload"/>
            		</otherwise>
                </choice>
            </when>
            <when expression="#[flowVars.productId == 'e1c515f9-102d-4830-b353-18fe48065732']">
                <choice doc:name="Choice">
                    <when expression="#[flowVars.productVariantId == 'fc3d4900-c5ac-4649-8bc8-cbbef4fe8fde']">
                        <set-payload value="{  
    &quot;productId&quot;:&quot;e1c515f9-102d-4830-b353-18fe48065732&quot;,
    &quot;identifier&quot;:&quot;fc3d4900-c5ac-4649-8bc8-cbbef4fe8fde&quot;,
    &quot;identifiers&quot;:{  
        &quot;SKU&quot;:&quot;UGG-BB-PUR-06&quot;
    },
    &quot;pictures&quot;:[  
        &quot;https://images-na.ssl-images-amazon.com/images/I/41p0XBBb6vL.jpg&quot;
    ],
    &quot;configuration&quot;:[  
        {  
            &quot;characteristic&quot;:{  
                &quot;code&quot;:&quot;size&quot;,
                &quot;description&quot;:&quot;Size&quot;,
                &quot;name&quot;:&quot;Size of item&quot;
            },
            &quot;characteristicValue&quot;:{  
                &quot;code&quot;:&quot;M&quot;,
                &quot;name&quot;:&quot;Medium&quot;
            }
        },
        {  
            &quot;characteristic&quot;:{  
                &quot;code&quot;:&quot;color&quot;,
                &quot;description&quot;:&quot;Color&quot;,
                &quot;name&quot;:&quot;Color&quot;
            },
            &quot;characteristicValue&quot;:{  
                &quot;code&quot;:&quot;black&quot;,
                &quot;name&quot;:&quot;Black&quot;
            }
        }
    ]
}" mimeType="application/json" doc:name="Set Payload"/>
                    </when>
                    <when expression="#[flowVars.productVariantId == '8cd5efc1-9110-4ee1-9ffd-1eaec687c0cc']">
                        <set-payload value="{
    &quot;productId&quot;:&quot;e1c515f9-102d-4830-b353-18fe48065732&quot;,
    &quot;identifier&quot;:&quot;8cd5efc1-9110-4ee1-9ffd-1eaec687c0cc&quot;,
    &quot;identifiers&quot;:{
        &quot;SKU&quot;:&quot;UGG-BB-PUR-06&quot;
    },
    &quot;pictures&quot;:[
        &quot;https://images-na.ssl-images-amazon.com/images/I/41imxB30l1L.jpg&quot;
    ],
    &quot;configuration&quot;:[
        {
            &quot;characteristic&quot;:{
                &quot;code&quot;:&quot;size&quot;,
                &quot;description&quot;:&quot;Size&quot;,
                &quot;name&quot;:&quot;Size of item&quot;
            },
            &quot;characteristicValue&quot;:{
                &quot;code&quot;:&quot;M&quot;,
                &quot;name&quot;:&quot;Medium&quot;
            }
        },
        {
            &quot;characteristic&quot;:{
                &quot;code&quot;:&quot;color&quot;,
                &quot;description&quot;:&quot;Color&quot;,
                &quot;name&quot;:&quot;Color&quot;
            },
            &quot;characteristicValue&quot;:{
                &quot;code&quot;:&quot;burgundy&quot;,
                &quot;name&quot;:&quot;Burgundy&quot;
            }
        }
    ]
}" mimeType="application/json" doc:name="Set Payload"/>
                    </when>
                    <when expression="#[flowVars.productVariantId == '84ce61ca-c1bd-495e-8111-d31b596886ed']">
                        <set-payload value="{
    &quot;productId&quot;:&quot;e1c515f9-102d-4830-b353-18fe48065732&quot;,
    &quot;identifier&quot;:&quot;84ce61ca-c1bd-495e-8111-d31b596886ed&quot;,
    &quot;identifiers&quot;:{
        &quot;SKU&quot;:&quot;UGG-BB-PUR-06&quot;
    },
    &quot;pictures&quot;:[
        &quot;https://images-na.ssl-images-amazon.com/images/I/41SuDJi3xRL.jpg&quot;
    ],
    &quot;configuration&quot;:[
        {
            &quot;characteristic&quot;:{
                &quot;code&quot;:&quot;size&quot;,
                &quot;description&quot;:&quot;Size&quot;,
                &quot;name&quot;:&quot;Size of item&quot;
            },
            &quot;characteristicValue&quot;:{
                &quot;code&quot;:&quot;L&quot;,
                &quot;name&quot;:&quot;Large&quot;
            }
        },
        {
            &quot;characteristic&quot;:{
                &quot;code&quot;:&quot;color&quot;,
                &quot;description&quot;:&quot;Color&quot;,
                &quot;name&quot;:&quot;Color&quot;
            },
            &quot;characteristicValue&quot;:{
                &quot;code&quot;:&quot;burgundy&quot;,
                &quot;name&quot;:&quot;Burgundy&quot;
            }
        }
    ]
}" mimeType="application/json" doc:name="Set Payload"/>
                    </when>
                    <otherwise>
               			 <set-property propertyName="http.status" value="#[404]" doc:name="Property"/>
               			 <set-payload value="Variant not found" doc:name="Set Payload"/>
            		</otherwise>
                </choice>
            </when>

            <otherwise>
                <set-property propertyName="http.status" value="#[404]" doc:name="Property"/>
                <set-payload value="Product not found" doc:name="Set Payload"/>
            </otherwise>
        </choice>

        
    </flow>
    <flow name="createOrder">
        <dw:transform-message doc:name="prepare request">
            <dw:input-payload/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
{
	customerId: payload.customerId,
	orderItems: payload.orderItems map ((orderItem) -> {
		itemId: orderItem.item.identifier,
		quantity: orderItem.quantity.amount,
		price: orderItem.itemUnitPrice.amount.currencyValue as :string,
		name: ""
	}),
	price: payload.orderItems reduce (
		($$.quantity.amount * $$.itemUnitPrice.amount.currencyValue) + 
		($.quantity.amount * $.itemUnitPrice.amount.currencyValue)
	) as :string
}]]></dw:set-payload>
        </dw:transform-message>
        <logger message="#[message.payloadAs(java.lang.String)]" level="INFO" doc:name="Logger"/>

        <http:request config-ref="retail-order-fulfillment-api" path="/orders" method="POST" doc:name="POST /orders">
            <http:request-builder>
                <http:header headerName="Content-Type" value="application/json"/>
            </http:request-builder>
        </http:request>
    </flow>
    <flow name="getOrdersByCustomer">

        <http:request config-ref="retail-orders-system-api" path="/orders/customer/{customerId}" method="GET" doc:name="GET/customers/{customerId}/orders">
            <http:request-builder>
                <http:uri-param paramName="customerId" value="#[flowVars.customerId]"/>
            </http:request-builder>
        </http:request>
        <dw:transform-message doc:name="Transform Message">
        	<dw:input-payload mimeType="application/json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/json
---
payload]]></dw:set-payload>
        </dw:transform-message>

    </flow>
</mule>
